[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "*"
    Access-Control-Allow-Methods = "GET, POST, PUT, DELETE, OPTIONS"

[[headers]]
 for = "/*.html"
 [headers.values]
   Cache-Control = "no-store"

[[headers]]
 for = "/libs/*"
 [headers.values]
   Cache-Control = "public, max-age=31536000, immutable"
